[project]
	description = Operating systems course project (Stony Brook University CSE 506 Fall 2013)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arun Olappamanna Vasudevan (arunov)
[access "refs/for/refs/*"]
	read = group user/Arun Olappamanna Vasudevan (arunov)
	push = group user/Arun Olappamanna Vasudevan (arunov)
	label-Code-Review = -2..+2 group user/Arun Olappamanna Vasudevan (arunov)
	label-Verified = -1..+1 group user/Arun Olappamanna Vasudevan (arunov)
	rebase = group user/Arun Olappamanna Vasudevan (arunov)
	removeReviewer = group user/Arun Olappamanna Vasudevan (arunov)
	submit = group user/Arun Olappamanna Vasudevan (arunov)
[access "refs/heads/*"]
	read = group user/Arun Olappamanna Vasudevan (arunov)
	create = group user/Arun Olappamanna Vasudevan (arunov)
	push = +force group user/Arun Olappamanna Vasudevan (arunov)
	pushMerge = group user/Arun Olappamanna Vasudevan (arunov)
[access "refs/tags/*"]
	push = +force group user/Arun Olappamanna Vasudevan (arunov)
	pushTag = group user/Arun Olappamanna Vasudevan (arunov)
	pushSignedTag = group user/Arun Olappamanna Vasudevan (arunov)
